.board{
    border: 2px solid black;
    display:block;
    position:relative; 
    box-shadow: 5px 10px 20px black;
    border-radius:15px;
    margin: 20px auto;
    margin-top: 70px;
    height:800px;
    width:1720px;
    background-color: white;
}